node_modules
dist
.vite-cache
.vite

# env
.env
.env.local
.env.*.local

# generated data
src/data/access.generated.json
src/data/access.meta.json

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log
